@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$montserrat: "Montserrat", sans-serif;
$primary_color: #111827;
$secondary_color: #1f2937;
$celeste: #67e8f9;
$rosado: #f472b6;
$font_color: #dedede;

@mixin section_width($width: 950px) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

.loading-screen {
  background-color: $primary_color;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $font_color;

  h1 {
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 600;
  }
}

.loader-wrapper {
  font-family: $montserrat;
  background-color: $primary_color;
  color: $font_color;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5vw;
    font-style: italic;
  }
}

.absolute {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app {
  font-family: $montserrat;
  // display: grid;
  // grid-template-columns: 70px 100%;
  background-color: $primary_color;

  @media (max-width: 480px) {
    display: block;
  }

  .nav-column {
    background-color: $primary_color;
    position: relative;
  }
}

.main-column {
  position: relative;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}
