@import "../../App.scss";

#freelance-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @media (max-width: 480px) {
    gap: 4rem;
  }
}

.children {
  @media (max-width: 480px) {
    display: none;
  }
}
