@import "../../App.scss";

@media (max-width: 480px) {
  #section-container {
    margin-left: 2rem;
    margin-right: 2rem;

    .title-wrapper,
    .title-wrapper-1 {
      .title-right,
      .title-left {
        width: auto;
        top: -150px;
        left: 0;
        font-size: 2rem;
      }

      .title-right {
        padding: 1rem;
      }

      .title-left {
        left: -50%;
        padding: 1rem;
        text-align: left;
      }
    }
  }
}

#section-container {
  @include section_width;
  padding-bottom: 16rem;

  @media (min-width: 2000px) {
    @include section_width(1300px);
  }

  .title-wrapper,
  .title-wrapper-1 {
    margin-bottom: 4rem;
    position: relative;
  }

  .title-wrapper {
    transform: rotate(-2deg);
  }

  .title-wrapper-1 {
    transform: rotate(2deg);
  }

  .title-right,
  .title-left {
    color: $primary_color;
    padding: 1rem;
    width: 500%;
    text-transform: uppercase;
    position: absolute;
    top: -150px;
    overflow-x: hidden;
    background-color: $rosado;
    font-size: 3rem;
    font-weight: 800;
  }

  .title-right {
    padding-left: 300px;
    left: 100px;

    @media (min-width: 2000px) {
      padding-left: 800px;
    }
  }

  .title-left {
    left: -400%;
    text-align: right;
    padding-right: 400px;

    @media (min-width: 2000px) {
      padding-right: 900px;
    }
  }
}
