@import '../../App.scss';

.container{
    margin-top: 10rem;
    padding-left: 2rem;
    height: 85vh;
    @include section_width;

    >p{
        margin: 0;
        padding: 0;
    }

    .hi{
        font-size: 1.1rem;
        color: $rosado;
        font-weight: 500;
        word-spacing: .2rem;
    }

    .name{
        color: #dedede;
        font-weight: 700;
        font-size: 4.5rem;
    }

    .dev{
        color: #c9c9c9;
        font-weight: 700;
        font-size: 4rem;
    }

    .about{
        margin-top: 1rem;
        line-height: 1.5rem;
        color: #c9c9c9;
        width: 50%;
    }
}