@import "../../App.scss";

@media (max-width: 600px) {
  #container {
    margin: 0rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 95vh;
    margin-bottom: 6rem;

    #icons-wrapper {
      height: 100vh;
      width: 100%;

      .code {
        margin-left: 10px;
      }
    }

    #intro-wrapper {
      left: 0;
      .hi {
        font-size: 0.9rem;
      }

      .name {
        font-size: 3rem;
      }

      .dev {
        font-size: 2.5rem;
      }

      .about {
        display: flex;
        margin-top: 1rem;
        width: 100%;
        line-height: 1.8rem;
      }
    }
  }
}

#container {
  position: relative;
  padding-top: 6rem;
  margin-bottom: 300px;
  padding-bottom: 200px;
  height: auto;
  @include section_width(1100px);

  @media (min-width: 2000px) {
    @include section_width(1900px);
  }

  > p {
    margin: 0;
    padding: 0;
  }

  .hi {
    display: inline-block;
    font-size: 1.5rem;
    color: $primary_color;
    font-weight: 700;
    word-spacing: 0.2rem;
    background-color: $rosado;
    letter-spacing: -0.05rem;
    padding: 0 0.5rem;

    @media (min-width: 2000px) {
      font-size: 2rem;
    }
  }

  .name {
    color: #dedede;
    font-weight: 700;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(180deg, #f3f3f3 50%, #dedede);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 2000px) {
      font-size: 8rem;
      min-width: 1500px;
    }
  }

  .dev {
    color: #0c0c0c;
    font-weight: 700;
    font-size: 4rem;
    // background: -webkit-linear-gradient(90deg, #67e8f9, #f472b6);
    background: -webkit-linear-gradient(180deg, #f472b6 50%, #67e8f9);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 2000px) {
      font-size: 7.5rem;
      min-width: 1800px;
    }
  }

  .about {
    margin-top: 1rem;
    line-height: 1.5rem;
    color: #c9c9c9;
    width: 50%;

    @media (min-width: 2000px) {
      font-size: 2rem;
      line-height: 2rem;
      width: 100%;
    }
  }
}

#intro-wrapper {
  @include section_width(1000px);
  position: absolute;
  transform: translate(0%, 50%);
  top: 0;
  left: 50px;

  @media (max-width: 480px) {
    margin-left: 25px;
    margin-right: 25px;
  }
}

#icons-wrapper {
  position: relative;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(7, 14.28%);

  .code-icon {
    width: 25px;
    height: 25px;
    color: $celeste;
    filter: drop-shadow(12px 12px 3px black);
  }

  .rotate-30 {
    transform: rotate(30deg);
  }

  .rotate-minus-30 {
    transform: rotate(-25deg);
  }

  .code {
    align-self: center;
    padding-right: 4rem;
    padding-top: 6rem;
    z-index: 5;
  }

  .branch {
    padding-top: 6rem;
    z-index: 5;
  }

  .commit {
    align-self: center;
    padding-top: 6rem;
    z-index: 5;
  }

  .terminal {
    align-self: flex-end;
    justify-self: flex-end;
    padding: 6rem;
    z-index: 5;
  }

  .fork {
    align-self: center;
    padding-bottom: 6rem;
    z-index: 5;
  }

  .pull-request {
    align-self: flex-end;
    justify-self: flex-end;
    padding: 4rem;
    padding-bottom: 8rem;
    z-index: 5;
  }

  .merge {
    justify-self: flex-end;
    padding-top: 4rem;
    z-index: 5;
  }
}
