@import "../../App.scss";

.container {
  position: fixed;
  z-index: 1;
  right: 1rem;

  > div {
    font-size: 1.5rem;
    color: $celeste;
    padding: 2rem 3rem;

    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.hidden {
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: -80px;

  > div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}
