@import "../../App.scss";

.container {
  position: fixed;
  z-index: 1;
  right: 1rem;

  .mail_mobile{
    display: none;

    @media (max-width: 480px) {
      display: flex;
      justify-content: flex-end;
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  > div {
    font-size: 1.3rem;
    color: $celeste;
    padding: 2rem 3rem;

    display: flex;
    gap: 1.5rem;
    align-items: center;

    @media (max-width: 480px) {
      padding: 1rem 0;
      gap: 0.5rem;
    }

    @media (max-width: 480px) {
      padding: 0;
    }

    .mail {
      font-size: 0.8rem;
      @media (max-width: 480px) {
        visibility: hidden;
      }
    }
  }
}

.hidden {
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: -80px;

  > div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}
