@import "../../App.scss";

#techs-section {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }

  .info {
    margin-top: 2rem;
    color: white;
    border-right: 1px solid $rosado;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 480px) {
      border-right: none;
      padding: 0;
    }

    .list-container {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 1rem;
      margin-left: 2rem;
      color: $font_color;

      @media (max-width: 480px) {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
      }

      @media (min-width: 2000px) {
        grid-template-columns: 40% 40%;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 0.5rem;

          &::before {
            content: "-";
            color: $rosado;
            font-weight: 900;
            display: inline-block;
            width: 1rem;
          }
        }
      }
    }
  }
}

.js,
.type,
.node,
.express,
.react,
.next,
.redux,
.psql,
.mongo,
.py,
.deno,
.dj,
.web3 {
  clip-path: inset(0% 100% 0% 0%);

  &.is-inview {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.js {
  transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.type {
  transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.node {
  transition: clip-path 1.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.express {
  transition: clip-path 1.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.react {
  transition: clip-path 1.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.next {
  transition: clip-path 2s cubic-bezier(0.77, 0, 0.175, 1);
}
.redux {
  transition: clip-path 2.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.psql {
  transition: clip-path 2.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.mongo {
  transition: clip-path 2.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.py {
  transition: clip-path 2.8s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 480px) {
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
.deno {
  transition: clip-path 3s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 480px) {
    transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
.dj {
  transition: clip-path 3.2s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 480px) {
    transition: clip-path 1.4s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
.web3 {
  transition: clip-path 3.4s cubic-bezier(0.77, 0, 0.175, 1);
  @media (max-width: 480px) {
    transition: clip-path 1.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
