@import "../../App.scss";

.container {
  @include section_width;
  margin-top: 12rem;

  @media (min-width: 2000px) {
    @include section_width(1300px)
  }

  @media (max-width: 480px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .title {
    @include section_title;
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;

    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
  }

  .info {
    margin-top: 2rem;
    color: white;

    .list_container {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 1rem;

      @media (min-width: 2000px) {
        grid-template-columns: 40% 40%;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: .5rem;
          color: $font_color;

          &::before {
            content: "-";
            color: $rosado;
            font-weight: 900;
            display: inline-block;
            width: 1rem;
          }
        }
      }
    }
  }
}
