@import "../../App.scss";

.container {
  @include section_width;
  margin-bottom: 12rem;
  margin-top: 12rem;

  @media (min-width: 2000px) {
    @include section_width(1300px)
  }

  @media (max-width: 480px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .title {
    @include section_title;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  .info {
    color: $font_color;
    text-align: center;
    > p {
      margin-bottom: 0.2rem;
    }
  }
}

.button_container {
  margin: 3rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: $secondary_color;
  text-decoration: none;
  color: $rosado;
  font-weight: 600;
  border: 1px solid $secondary_color;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.5s ease-in-out 0s;

  &:hover {
    background-color: transparent;
    border: 1px solid $rosado;
    box-shadow: none;
  }
}
