@import "../../App.scss";

.container {
  @include section_width;
  margin-top: 12rem;
  background-color: red;


  @media (min-width: 2000px) {
    @include section_width(1300px);
  }

  @media (max-width: 480px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .title {
    @include section_title;
  }

  .projects_container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    border-bottom: 1px solid $celeste;

    @media (min-width: 2000px) {
      gap: 10rem;
    }
  }
  .button_container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    button {
      padding: 1rem 2rem;
      background-color: transparent;
      border: 1px solid $celeste;
      color: $font_color;
      border-radius: 0.2rem;
      font-weight: 600;
      transition: all 0.2s ease-in-out 0s;

      &:hover {
        border: 1px solid $rosado;
        color: $rosado;
        cursor: pointer;
      }
    }
  }
}
