@import "../../App.scss";

#projects-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  border-bottom: 1px solid $celeste;

  @media (min-width: 2000px) {
    gap: 10rem;
  }

  ul {
    list-style-type: "◆ ";
    padding-left: .5rem;
    li {
      text-decoration: none;
      // list-style: none;
    }
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;

  button {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid $celeste;
    color: $font_color;
    border-radius: 0.2rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out 0s;

    &:hover {
      border: 1px solid $rosado;
      color: $rosado;
      cursor: pointer;
    }
  }
}
