@import "../../App.scss";

.container {
  background-color: $secondary_color;
  height: 100vh;
  position: fixed;
  width: 15%;
  box-shadow: 1px 0px 3px $rosado;
  transition: all .3s ease-in-out 0s;

  &:hover {
    box-shadow: 2px 0px 4px $rosado;
  }

  @media (max-width: 480px) {
    visibility: hidden;
  }

  .logo {
    color: white;
    padding-top: 5rem;
    text-align: center;

    span {
      font-weight: 800;
      font-size: 1.5rem;
    }
  }

  .pages {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    .page {
      color: white;
      font-weight: 400;
      cursor: pointer;

      span {
        transition: all 0.3s ease-in-out 0s;

        &:hover {
          color: $rosado;
        }
      }
    }
  }
}
